<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	    <meta charset="utf-8">

	<title></title>
</head>
<body>

	<div style="max-width: 600px">
		<div >
			<h2 th:text="#{page.boards}">Memo List</h2>
		</div>

		<div>
				<button 
				onclick="location.href='addBoard.html'"
				th:onclick="|location.href='@{/boards/boards}'|"
				type="button" th:text="#{page.addMemo}">메모 등록</button>
			</div>
		</div>


		<div>
			<table class="table">
				<thead>
					<tr>
						<th th:text="#{label.item.id}">ID</th>
						<th th:text="#{label.item.itemName}">상품명</th>
						<th th:text="#{label.item.price}">가격</th>
						<th th:text="#{label.item.quantity}">수량</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${Boards}">
						<td>
							<a href="item.html" th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">회원id</a>
						</td>
						<td>
							<a href="item.html" th:href="@{|/items/${item.id}|}" th:text="${item.itemName}">상품명</a>
						</td>
						<td th:text="${item.price}">10000</td>
						<td th:text="${item.quantity}">10</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
	</html>