<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	    <meta charset="utf-8">

	<title></title>
</head>
<body>

	<div style="max-width: 600px">
		<div >
			<h2 >Memo List</h2>
		</div>

		<div>
				<button 
				onclick="location.href='addBoard.html'"
				th:onclick="|location.href='@{/board/new}'|"
				type="button" >글쓰기</button>
			</div>
		</div>


		<div>
			<table class="table" border="1">
				<thead>
					<tr>
						<th >ID</th>
						<th >제목</th>
						<th >내용</th>
						<th >조회수</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="boards : ${board}">
						<td>
							<a   th:href="@{|/board/boardnum/${boards.id}|}"  th:text="${boards.id}" >id</a>
						</td>
						<td>
							<a  th:href="@{|/board/boardnum/${boards.id}|}" th:text="${boards.title}">title</a>
						</td>
						<td th:text="${boards.context}">내용</td>
						<td th:text="${boards.visitcount}">0</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
	</html>